body {
    padding: 5px;
    margin: 0 auto;
}
#indicatorDiv {
    width: 500px;
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}
#render {
    height: 25px;
    font-size: 13px;
}
#status {
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}
#chart-container {
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}