body {
    padding: 5px;
    margin: 0 auto;
}
#indicatorDiv {
    width: 500px;
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}
pre {
    height:200px;
    overflow:scroll;
    border:solid gray;
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}
#get_json_data {
    height: 25px;
    font-size: 13px;
}