body {
    padding: 5px;
    margin: 0 auto;
}
#indicatorDiv {
    width: 500px;
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}
#year {
    height: 25px;
    font-size: 12px;
}
#set_xml {
    height: 25px;
    font-size: 13px;
}