body {
    padding: 5px;
    margin: 0 auto;
}
#indicatorDiv {
    width: 500px;
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}
#get_ref {
    height: 25px;
    font-size: 13px;
}
#redraw {
    height: 25px;
    font-size: 13px;
}
.rep_text {
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}