body{ padding: 0; margin: 0}




.header{
	position: absolute;
	width: 100%;
	height: 5em;

}

.header .header-rad{
	height: 1.5em;
	width: auto;
	float: left; 
	margin: 1.5em 1em 1em 1em;
}

.header .test {
	position: absolute;
	left: 20em;
	min-width: 5em;
	min-height: 1em;
	margin-top: 1em; 
	
}
.header .header-block {
	margin-left: .5em;
	float: left; 	
}


.input-execute, .input-save {

    background-color: transparent;
    width: 5em;
    height: 2.8em;
    outline: none;
    border-radius: 5px;
    border: 2px solid #16B891;
    color: #16B891;
    cursor: pointer;
}




/*.sidebar{
	position: absolute;
	top:5em;
	width: 12em;
	height: 83%;
	border: 1px green solid;
}
*/
.container{
	top:5em;
	position: absolute;
	
	width: 100%;
	height: 88%;
	
}

.container .block{
	margin-left: 2%;
	margin-top: 2%;
	height: 92%;
	width: 46%;
	float: left;
	
}

.container .block .block-heading {

	background-color:#CCFFCC;
	padding: .5em;
}

.container .block .block-container{

	height: 94%;
	width: 99.7%;

}

.container .block .block-container textarea{
	margin: 0;
	height: 99%;
	width: 98.8%;
	resize: none;
	outline: none;
}