body {
    padding: 5px;
    margin: 0 auto;
}
#indicatorDiv {
    width: 500px;
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}
#format {
    height: 25px;
    font-size: 13px;
}
#format_message {
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}
#number {
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
    width: 150px;
    height: 20px;
}