#chart-container {
    background-color: #000;
    width: 400px;
    height: 300px;
}
#indicatorDiv {
    width: 500px;
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}
#set_transparent {
    height: 25px;
    font-size: 13px;
}