#label {
    font-family:'Arial', 'Helvetica';
    font-size: 14px;
}
#current_value {
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}
body {
    padding: 5px;
    margin: 0 auto;
}
#indicatorDiv {
    width: 500px;
    font-family:'Arial', 'Helvetica';
    font-size: 13px;
}
#theme-type {
    height: 25px;
    font-size: 13px;
}